<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randomchat</title>
    <link rel="stylesheet"  href="/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>

    <%- body  %> 

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></script>  
    <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.1.0.js"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>
