

    <nav id="navbar" >
      <h2 id="navbrand" >VIDCHAT</h2>
      <p id="navp">Random one - one video chat</p>
    </nav>

    <div id ="searching" >
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> 
    <h2 id="searchText">Searching</h2>
    </div>

    <div  id="videos">
        <div class="video-view">
          <div id="local_stream" class="video-placeholder"></div>
        </div>
        <div id = "remoteVideo"></div>
    </div>
    
    <a href="#" id="connect" class="btn">Connect Randomly</a>
    <a href="#" id ="disconnect" class="btn">Disconnect</a>

 