 

body{
    background-color: #ffd31d;
    margin: 0px;
    font-family: 'Do Hyeon', sans-serif;
}

#navbar{
    height:100px;
    background-color: black;
}

#navbrand{
    color: #ffd31d ;
    margin: 0px;
    padding: 10px 100px;
}

#navp{
    color:#ffd31d ;
    margin: 0px;
    padding: 0px 100px;
}

#videos{
    display: flex;
    flex-wrap: wrap;
}

.video-view{
    width: 300px;
    height: 300px;
    margin: 20px 100px;
}

.video-placeholder{
    width: 300px;
    height:300px;
    border:5px solid black;
    border-radius: 5px;
}

.btn{
	text-decoration: none;
	color:white;
	background: #092d79;
	display:block;
	height:40px;
	width:160px;
	text-align: center;
	border-radius: 5px;
	padding-top: 15px;
    margin: 20px 130px;
}

.btn:hover{
	background: #02a0d5;
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 600px) {

    .video-view{
        width: 200px;
        height: 200px;
        margin: 20px 80px;
    }
    
    .video-placeholder{
        width: 200px;
        height:200px;
        border:5px solid black;
        border-radius: 5px;
    }
    
  }


  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  #searchText{
      color: white;
      margin-left: 10px;
  }

  #searching{
      display: flex;  
      margin:0px 100px;
  }