 

body{
    background-color: #ffd31d;
    margin: 0px;
    font-family: 'Do Hyeon', sans-serif;
}

#navbar{
    height:100px;
    background-color: black;
}

#navbrand{
    color: #ffd31d ;
    margin: 0px;
    padding: 10px 100px;
}

#navp{
    color:#ffd31d ;
    margin: 0px;
    padding: 0px 100px;
}

#videos{
    display: flex;
    flex-wrap: wrap;
}

.video-view{
    width: 300px;
    height: 300px;
    margin: 30px 100px;
}

.video-placeholder{
    width: 300px;
    height:300px;
    border:5px solid black;
}

.btn{
	text-decoration: none;
	color:white;
	background: #092d79;
	display:block;
	height:40px;
	width:160px;
	text-align: center;
	border-radius: 5px;
	padding-top: 15px;
    margin: 20px 130px;
}

.btn:hover{
	background: #02a0d5;
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 600px) {

    .video-view{
        width: 200px;
        height: 200px;
        margin: 30px 80px;
    }
    
    .video-placeholder{
        width: 200px;
        height:200px;
        border:5px solid black;
    }
    
  }